<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016.
  ~ Original Author[Case insensitive]: Pranay Kumar Srivastava <pranjas (at) gmail.com>
  ~
  ~  You are free to re-distribute this code, modify it and make derivatives of this work
  ~  however under all such cases the Original Author and Copyright holder must be
  ~  accredited. The original author reserves the right to modify this software at anytime however the above clauses would still be applicable.
  ~
  ~  This software may not be used commercially without prior written agreement with the Original  Author and the Original Author above CANNOT be changed under any circumstances.
  ~
  ~  There's absolutely NO WARRANTY WHATSOEVER for using this software.
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pranay.nutrihome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodSearchResult"
            android:parentActivityName=".Search"></activity>
        <activity android:name=".FoodItemShow"
            android:parentActivityName=".FoodSearchResult"
            ></activity>
    </application>

</manifest>